@{
    ViewData["Title"] = "ye-dle";
}
<html lang="en">

<head>
    <title>#</title>
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/a36fc52758.js" crossorigin="anonymous"></script>
    <!--Font Awesome-->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- Google Fonts -->
    
</head>

<body class="defaultTheme">
<div class="container2">
    
</div>
</body>
</html>