@model yedle.KanyeModel.KanyeSongs;
@{
    ViewData["Title"] = "ye-dle";
    Layout = "_Layout";
}
<html lang="en">

<head>
    <title>#</title>
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/a36fc52758.js" crossorigin="anonymous"></script>
    <!--Font Awesome-->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- Google Fonts -->
    
    <!-- JQuery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">  
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>  
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 
    <!-- JQuery -->
    
</head>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="display-flex">
    
    
    <div class="box1 borderColour" id="boxHelp">
        <h1 class="text-center" style="margin-top: 1rem;">Help</h1>
        
        <p class="flex"> <span class="iconSeparator"><i class="fa-solid fa-headphones fa-lg iconBoxes"></i>
        </span> Try and guess the Kanye song in the shortest time possible</p>
        
        <p class="flex"> <span class="iconSeparator"><i class="fa-solid fa-forward fa-lg iconBoxes"></i>
        </span> Everytime you skip, the songs snippet time increases revealing more of the snippet</p>
        
        <p class="flex"> <span class="iconSeparator"><i class="fa-solid fa-heart fa-lg iconBoxes"></i>
        </span> Special thanks to Heardle and Wordle for the inspiration to create ye-dle</p>
    </div>

    <div class="box2 borderColour" id="boxStats">
        <h1 class="text-center" style="margin-top:  1rem;">Statistics</h1>
        
        <p class="flex"> <span class="iconSeparator"><i class="fa-solid fa-trophy fa-lg iconBoxes"></i>
        </span>Your Score Is - 20K</p> <!-- Remember to dynamically change these value -->
        
        <p class="flex"> <span class="iconSeparator"><i class="fa-solid fa-hand-sparkles fa-lg iconBoxes"></i>
        </span>KanYe Power Score - "You left your fridge open, somebody just took a sandwich"</p>
    </div>
    
    <div class="box3 borderColour" id="boxSettings">
        <h1 class="text-center" style="margin-top:  1rem;">Settings</h1>
        
        <p class="flex"> <span class="iconSeparator"><i class="fa-solid fa-paintbrush fa-lg iconBoxes">
        </i></span>Choose from 9 availble themes - Each theme is corresponding to a KanYe album</p>
        
        <div class="containerInputs">
            <input  type="button" value="College Dropout" id="cd" onclick="changeTheme()" class="borderColour boxesColour"/>
            <input  type="button" value="Late Registration" class="borderColour boxesColour"/>
            <input  type="button" value="Graduation" class="borderColour boxesColour"/>
            <input  type="button" value="808's And Heartbreaks" class="borderColour boxesColour"/>
            <input  type="button" value="My Beautiful Dark Twisted Fantasy" class="borderColour boxesColour"/>
            <input  type="button" value="Yeezus" class="borderColour boxesColour"/>
            <input  type="button" value="The Life Of Pablo / Original Theme" class="borderColour boxesColour"/>
            <input  type="button" value="Kids See Ghosts" class="borderColour boxesColour"/>
            <input  type="button" value="Donda / Dark Theme" class="borderColour boxesColour"/>    
        </div>
    </div>
    
    
    <div class="outputDivSize">
        <div class="userOutput"></div>
        <div class="userOutput"></div>
        <div class="userOutput"></div>
        <div class="userOutput"></div>
        <div class="userOutput"></div>
    </div>
</div>

<div>
    <div class="musicProgress"></div>
</div>

<div class="display-flex" style="margin-top: 2rem !important;">
    <div class="player"></div>
</div>

<div class="display-flex" style="margin-top: 2rem !important;">
    <div class="outputDivSize">
        <input type="search" value="Know the Kanye song? Search it..." style="color: #fff;"/>
        
        <input type="submit" value="Submit" style="color: #fff;"/>
        <input type="button" value="Skip ( 1 s )" />
    </div>

</div>
}
</html>

<!--
https://www.nytimes.com/games/wordle/index.html
https://heardle.app
-->

<!-- KanYe Power levels 
"I think i just fell in love with a pornstar" - Level 8
"She don't believe in in shootin stars, but she believe in shoes and cars" - Level 7
"I AM A GOD!" - Level 6
"You my Chick-fill-a" Level 5 
"You just left your fridge open, somebody just took a sandwich" Level 4
"Life's just not fair" - Level 3
"They playing soccer in my backyard, i think i see Messi" - Level 2 
"That’s right put in work, move your ass, go wizzerk" Level 1
"Now i ain't saying shes a gold digger" Level 0
-->