@{
    ViewData["Title"] = "ye-dle";
}
<html lang="en">

<head>
    <title>#</title>
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/a36fc52758.js" crossorigin="anonymous"></script>
    <!--Font Awesome-->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- Google Fonts -->
    
</head>

<body class="defaultTheme">
<div class="display-flex">
    
    <div class="box1" id="boxHelp">
        <h1 class="text-center" style="color: #fff; margin-top: 1rem;">Help</h1>
        
        <p class="flex" style="color: #F8AB7AFF"> <span class="iconSeparator"><i class="fa-solid fa-headphones fa-lg iconBoxes"></i>
            </span> Try and guess the Kanye song in the shortest time possible</p>
        
        <p class="flex" style="color: #F8AB7AFF"> <span class="iconSeparator"><i class="fa-solid fa-forward fa-lg iconBoxes"></i>
            </span> Everytime you skip, the songs snippet time increases revealing more of the snippet</p>
        
        <p class="flex" style="color: #F8AB7AFF"> <span class="iconSeparator"><i class="fa-solid fa-heart fa-lg iconBoxes"></i>
        </span> Special thanks to Heardle and Wordle for the inspiration to create ye-dle</p>
    </div>

    <div class="box2" id="boxStats"></div>
    
    <div class="box3" id="boxSettings"></div>

    <script src="js/site.js"></script>
</div>
</body>
</html>

<!--
https://www.nytimes.com/games/wordle/index.html
https://heardle.app
-->