<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/yedle.styles.css" asp-append-version="true"/>
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/3a79eafc68.js" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- Google Fonts -->
</head>

<body class="defaultTheme">
<header>
    <nav style="margin-top: 1rem;" id="navBorder">
        <div class="header">
            <div class="flex-left">
                <span class="leftIcons" id="help"><i class="fa-solid fa-circle-question fa-2xl iconPresets curr"></i></span>
                <a href="https://github.com/Basker12" target="_blank"><span class="leftIcons"><i class="fa-brands fa-github-alt fa-2xl iconPresets"></i></span></a>
            </div>
    
            <h1 class="header">yedle</h1>
    
            <div class="flex-right">
                <span class="rightIcons" id="stats"><i class="fa-solid fa-chart-simple fa-2xl iconPresets curr"></i></span>
                <span class="rightIcons" id="settings"><i class="fa-solid fa-gear fa-2xl iconPresets fa-spin-hover curr"></i></span>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="pb-3">
    @RenderBody()
</main>


<!--
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - yedle - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>