:root {
  /* The Life Of Pablo - theme / default  */
  --YeOrange: rgba(213,87,81,255);
  --YeSand: rgba(248,171,122,255);
  /* College Dropout */
  --CdYellow: #daaf0c;
  --CdBrown: #3f1512;
  /* Late Registration */
  --LrGrey: #bebab5;
  --LrBrown: #451706;
  /* Graduation */
  --GPurple: #9a4882;
  --GSand: #dfdcb8;
  /* 808s And HeartBreaks */
  --808Purple: #a3277b;
  --808DarkBlue: #2b3a71;
  --808Yellow: #f9ef01;
  --808Teal: #a0d4d1;
  --808LightBlue: #00adef;
  --808Green: #02a691;
  --808Pink: #f8c3d5;
  --808DarkYellow: #d6dd53;
  --808LightPurple: #ca89b1;
  --808DarkPink: #e43578;
  --808DarkPurple: #3b1a7d;
  --808Main: #c3cdcf;
  /* My Beautiful Dark Twisted Fantasy*/
  --MbdtfRed: #ec2541;
  --MbdtfYellow: #eabd54;
  /* Yeezus */
  --yezzusDarkGrey: #24252e;
  --yeezusYellow: #ceb06c;
  /* Kids See Ghosts */
  --KsgBlue: #287c9f;
  --KsgRed: #bd355d;
  /* Donda / Dark Mode */
  --dondaBlack: black;
}
* {
  font-family: 'Anton', sans-serif;
}
html {
  font-size: 14px;
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.disappear {
  text-decoration: none;
  color: #fff;
}
.disappear:hover {
  text-decoration: none;
  color: #fff;
}
.disappear:visited {
  text-decoration: none;
  color: #fff;
}
.defaultTheme {
  background-color: var(--YeOrange);
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
nav {
  height: 75px;
  border-bottom: 1px solid var(--YeSand);
}
/* Icons */
.iconPresets {
  color: #fff;
}
.leftIcons {
  margin-left: 1rem;
  padding-bottom: 2.5rem;
}
.rightIcons {
  margin-right: 1rem;
  padding-bottom: 2.5rem;
}
.header .flex-left {
  margin-right: 10rem;
}
.header .flex-right {
  margin-left: 10rem;
}
.fa-spin-hover:hover {
  -webkit-animation: fa-spin 3.5s cubic-bezier(.5, 1.75, .75, 1.25);
  -moz-animation: fa-spin 3.5s cubic-bezier(.5, 1.75, .75, 1.25);
  -o-animation: fa-spin 3.5s cubic-bezier(.5, 1.75, .75, 1.25);
  animation: fa-spin 3.5s cubic-bezier(.5, 1.75, .75, 1.25);
}
.curr {
  cursor: pointer;
}