:root {
  /* The Life Of Pablo - theme / default  */
  --YeOrange: rgb(187, 58, 52);
  --YeSand: rgba(248,171,122,255);
  /* College Dropout */
  --CdYellow: #daaf0c;
  --CdBrown: #3f1512;
  /* Late Registration */
  --LrGrey: #bebab5;
  --LrBrown: #451706;
  /* Graduation */
  --GPurple: #9a4882;
  --GSand: #dfdcb8;
  /* 808s And HeartBreaks */
  --808Purple: #a3277b;
  --808DarkBlue: #2b3a71;
  --808Yellow: #f9ef01;
  --808Teal: #a0d4d1;
  --808LightBlue: #00adef;
  --808Green: #02a691;
  --808Pink: #f8c3d5;
  --808DarkYellow: #d6dd53;
  --808LightPurple: #ca89b1;
  --808DarkPink: #e43578;
  --808DarkPurple: #3b1a7d;
  --808Main: #c3cdcf;
  /* My Beautiful Dark Twisted Fantasy*/
  --MbdtfRed: #ec2541;
  --MbdtfYellow: #eabd54;
  /* Yeezus */
  --yezzusDarkGrey: #24252e;
  --yeezusYellow: #ceb06c;
  /* Kids See Ghosts */
  --KsgBlue: #287c9f;
  --KsgRed: #bd355d;
  /* Donda / Dark Mode */
  --dondaBlack: black;
}
* {
  font-family: 'Anton', sans-serif;
}
html {
  font-size: 14px;
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.disappear {
  text-decoration: none;
  color: #fff;
}
.disappear:hover {
  text-decoration: none;
  color: #fff;
}
.disappear:visited {
  text-decoration: none;
  color: #fff;
}
.defaultTheme {
  background-color: var(--YeOrange);
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
nav {
  height: 75px;
}
#navBorder {
  border-bottom: 1px solid var(--YeSand);
}
.borderColour {
  border: 1px solid var(--YeSand);
}
.boxesColour {
  background-color: var(--YeOrange);
}
/* Icons */
.iconPresets {
  color: #fff;
}
.leftIcons {
  margin-left: 1rem;
  padding-bottom: 2.5rem;
}
.rightIcons {
  margin-right: 1rem;
  padding-bottom: 2.5rem;
}
.header .flex-left {
  margin-right: 10rem;
}
.header .flex-right {
  margin-left: 10rem;
}
.fa-spin-hover:hover {
  -webkit-animation: fa-spin 3.5s cubic-bezier(.5, 1.75, .75, 1.25);
  -moz-animation: fa-spin 3.5s cubic-bezier(.5, 1.75, .75, 1.25);
  -o-animation: fa-spin 3.5s cubic-bezier(.5, 1.75, .75, 1.25);
  animation: fa-spin 3.5s cubic-bezier(.5, 1.75, .75, 1.25);
}
.iconSeparator {
  margin-right: 0.5rem;
}
.iconBoxes {
  margin: 0.5rem 0.5rem;
  color: #fff;
}
.curr {
  cursor: pointer;
}
/* Icons */
.box1 {
  height: 370px;
  width: 600px;
  border-radius: 5px;
}
.box2 {
  height: 370px;
  width: 600px;
  border-radius: 5px;
}
.box3 {
  height: 450px !important;
  width: 620px;
  border-radius: 5px;
}
#boxHelp {
  display: none;
  position: absolute;
  background-color: var(--YeOrange);
}
#boxStats {
  display: none;
  position: absolute;
  background-color: var(--YeOrange);
}
#boxSettings {
  display: none;
  position: absolute;
  background-color: var(--YeOrange);
}
.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  float: left;
}
p, h1, h2 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0.5rem 0.5rem;
}
input[type=button] {
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  color: #fff;
}
.containerInputs {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
.outputDivSize {
  width: 50vw;
}
.userOutput {
  width: 100%;
  height: 50px;
  padding: 1rem 1rem;
  margin: 1rem;
  border: 1px solid var(--YeSand);
  border-radius: 5px;
}
.musicProgress {
  margin-top: 2.5rem;
  width: 100vw;
  height: 20px;
  border: 1px solid var(--YeSand);
}
.player {
  border: 1px solid var(--YeSand);
  border-radius: 75px;
  width: 75px;
  height: 75px;
}
.playerIcon {
  top: 50%;
  left: 50%;
  margin-top: 37.5px;
  margin-left: 28px;
}
input[type=search] {
  display: block;
  width: 100%;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border: 1px solid var(--YeSand);
  border-radius: 5px;
  background-color: var(--YeOrange);
}
input[type=button] {
  display: block;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border: 1px solid var(--YeSand);
  border-radius: 5px;
  background-color: var(--YeOrange);
  float: left;
}
input[type=submit] {
  display: block;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border: 1px solid var(--YeSand);
  border-radius: 5px;
  background-color: var(--YeOrange);
  float: left;
}
.box1, .box2, .box3 {
  animation: popout 3000ms ease-in-out;
  -webkit-animation: popout 1000ms ease-in-out;
}
@keyframes popout {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}